body {
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    font-family: "Gotham Pro", sans-serif;
    background-color: whitesmoke;
}

header {
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(241, 157, 47, 1);
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    background: rgba(255, 209, 172, 1);
}

.offer {
    position: relative;
}

.offer__image {
    width: 100%;
}

.offer__banner {
    position: absolute;
    width: 103px;
    height: 58px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.offer__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}

.offer__data {
    font-size: 21px;
    font-weight: 700;
}

.offer__banner_timer {
    bottom: 20px;
    left: 20px;
    background-color: rgba(241, 157, 47, 1);
}

.offer__banner_price {
    bottom: 20px;
    right: 20px;
    background-color: rgba(55, 217, 151, 1);
}

.old-price {
    text-decoration: line-through;
    text-decoration-color: red;
}

.timer__items {
    display: flex;
}

.product {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
}

.product__rate {
    font-size: 12px;
    color: rgba(44, 43, 49, 1);
}

.product__tag {
    color: rgba(55, 217, 151, 1);
}

.product__title {
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
}

.product__picture {
    width: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 3s;
}

.product__picture-animation {
    width: 100%;
    opacity: 0;
    transition-duration: 0.1s;
}

.product__image-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
}

.product__image {
    list-style-type: none;
    cursor: pointer;
    width: 100%;
}

.active {
    opacity: 0.5;
}

.product__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.delivery__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    text-align: left;
    margin-right: 1rem;
}

.delivery__desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    margin-right: 1rem;
}

.product__selects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.product__select, .btn {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
}

.star {
    fill: whitesmoke;
    stroke: grey;
}

.star-active {
    fill: #F8B656;
    stroke: #F8B656;
}